.Contacts {
    width: 100%;
    padding: 100px 0;
}

.Contacts__container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.Contacts__container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.Contacts__container-inner-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to bottom, #2a7582, #006083, #004981, #002e75, #31025a);
    padding: 24px;
    border-radius: 12px;
    transition: 0.2s linear;
}

.Contacts__container-inner-form:hover {
    transform: scale(1.02);
}

.Contacts__container-inner-form input,
.Contacts__container-inner-form textarea {
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(207, 227, 245);
    color: rgb(51, 21, 21);
}

.Contacts__container-inner-form label {
    color: antiquewhite;
    font-weight: bold;
}

.Contacts__container-inner-form button {
    background-color: antiquewhite;
    padding: 7px;
    border-radius: 3px;
    transition: 0.3s linear;
    cursor: pointer;
}

.Contacts__container-inner-form button:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 400px) {
    .Contacts__container-inner-form {
        padding: 12px;
    }
    .Contacts__container-inner iframe {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 350px) {
    .Contacts__container-inner-form {
        width: 200px;
    }
}

@media screen and (max-width: 240px) {
    .Contacts__container-inner-form {
        width: 170px;
    }
}

/* 524px */
